ESP32C3ADCNodeRedrevCM4_0.json
[{"id":"147c8bcf.e4ce34","type":"tab","label":"ADC HAT rev 1","disabled":false,"info":""},{"id":"70e265ef.4e458c","type":"debug","z":"147c8bcf.e4ce34","name":"First","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2250,"y":600,"wires":[]},{"id":"2e4afa96.7a02c6","type":"function","z":"147c8bcf.e4ce34","name":"Set Broadcast ip","func":"/********************************************************************************\n *  important note this works for networks of 255 or less devices. \n *  Some networks are 512 devices 172.16.0.0 to 172.16.1.255 so x.x.0.x \n *  and x.x.1.x are all on the same network.The slave can be on x.x.1.x and \n *  the master can be on x.x.0.x   The broadcast Ip is the last address\n *  of the network segment or 172.16.1.255\n *  In such a case myArray[2] would need to be changed to 1. \n * \n * *****************************************************************************/\n\nvar device1= flow.get('device1') || {}; // get the object device1\nvar local_ip = msg.payload.internalIPv4;  // extract the local Ip\nvar myArray = local_ip.split(\".\");    // split\nmyArray[3]=\"255\";                       // change the last part to 255 (the broadcast address)\nmyArray[2]= \"1\";                       // uncoment for a network with more than 255 addresses.\nvar broadcast_ip  = myArray[0]+\".\"+myArray[1]+\".\"+myArray[2]+\".\"+myArray[3]; // re-assemble\nvar newMsg2 = {payload:device1};   // put the object device1 into the payload\nvar msg3 = {payload:\"Searching\"};\nnewMsg2.ip = broadcast_ip;         // set the broadcast ip\nreturn[ newMsg2, msg3];\n","outputs":2,"noerr":0,"x":650,"y":420,"wires":[["e665f9ae.2686d8","fb12b8b0.f7b388","f39ed35a.79282"],["f1865e29.034a3"]]},{"id":"f39ed35a.79282","type":"debug","z":"147c8bcf.e4ce34","name":"Second","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":960,"y":440,"wires":[]},{"id":"88e05eaa.df53","type":"udp out","z":"147c8bcf.e4ce34","name":"Broadcast to find device","addr":"","iface":"","port":"5044","ipv":"udp4","outport":"5044","base64":false,"multicast":"broad","x":950,"y":500,"wires":[]},{"id":"eb48deef.ba605","type":"function","z":"147c8bcf.e4ce34","name":"Save add device type/name","func":"var device1= flow.get('device1') || {};\ndevice1={type:\"ADC1\",ip:\"0.0.0.0\",name:\"New ADC1\",category:\"init\",ch0:0,ch1:0,ch2:0,ch3:0,ch4:0,ch5:0,out1:0,out2:0,out3:0,link:\"down\"};\ndevice1.category=\"init\";\nvar newname =msg.payload.name;\nif (newname != \"\"){\ndevice1.name =msg.payload.name;\n}\n//device1.type = msg.payload.type;\nflow.set('device1', device1);\nmsg.payload = \"Looking for an \" + device1.type;\nreturn msg;\n","outputs":1,"noerr":0,"x":440,"y":520,"wires":[[]]},{"id":"91ccc28.9b66a4","type":"udp in","z":"147c8bcf.e4ce34","name":"Receive from remote device after it is found","iface":"","port":"5045","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":160,"y":740,"wires":[["785622b7.bf561c","28074ca4.5dbfd4"]]},{"id":"4d20175f.9bc958","type":"debug","z":"147c8bcf.e4ce34","name":"UDP Receive","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":480,"y":700,"wires":[]},{"id":"a6c676de.3465e8","type":"comment","z":"147c8bcf.e4ce34","name":"UDp Ports","info":"master output port 5044 device receive port 5044\nmaster receive port 5045 device send port 5045","x":380,"y":280,"wires":[]},{"id":"785622b7.bf561c","type":"change","z":"147c8bcf.e4ce34","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"payload","fromt":"msg","to":"ip","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":640,"wires":[["8ed579f6.f7ac18"]]},{"id":"fe10f041.0386","type":"debug","z":"147c8bcf.e4ce34","name":"UDP sender IP","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1280,"y":600,"wires":[]},{"id":"8ed579f6.f7ac18","type":"function","z":"147c8bcf.e4ce34","name":"Extract sender ip from received msg","func":"var device1= flow.get('device1') || {};\ndevice1.ip = msg.ip;\nif(device1.link != \"up\"){\n    msg= {payload : \"Found \" + device1.type + \" at \" + device1.ip }\n    return msg;\n}\n// if adc1 found and ip link is now active or up\nif((msg.ip != \"0.0.0.0\") &&(device1.type=== \"ADC1\"))\n{\n    device1.link=\"up\";\n    msg={payload:null};\n}\nflow.set('device1', device1);\n\n\n","outputs":1,"noerr":0,"x":780,"y":660,"wires":[["7f94083e.280878","dce7e4d1.10c198"]]},{"id":"6519bef.1ad394","type":"udp out","z":"147c8bcf.e4ce34","name":"UDP Send","addr":"","iface":"","port":"5044","ipv":"udp4","outport":"5044","base64":false,"multicast":"false","x":2290,"y":1040,"wires":[]},{"id":"28074ca4.5dbfd4","type":"json","z":"147c8bcf.e4ce34","name":"","property":"payload","action":"","pretty":false,"x":420,"y":820,"wires":[["ce3c43c1.06cb1"]]},{"id":"ce3c43c1.06cb1","type":"function","z":"147c8bcf.e4ce34","name":"Extract data from received  UDP messages","func":"var device1= flow.get('device1') || {};\nvar msg0,msg1,msg2,msg3,msg4,msg5;\nif(msg.payload.type == device1.type)\n{\n    device1.ch0 =msg.payload.ch0;\n    msg0 ={payload: msg.payload.ch0 };\n    device1.ch1 =msg.payload.ch1;\n    msg1 ={payload: msg.payload.ch1 };\n    device1.ch2 =msg.payload.ch2;\n    msg2 ={payload: msg.payload.ch2 };\n    device1.ch3 =msg.payload.ch3;\n    msg3 ={payload: msg.payload.ch3 };\n    device1.ch4 =msg.payload.ch4;\n    msg4 ={payload: msg.payload.ch4 };\n    device1.ch5 =msg.payload.ch5;\n    msg5 ={payload: msg.payload.ch5 };\n    \n    flow.set('device1', device1);\n}\nmsg6 = {payload: device1.name};// used to display name\nreturn [msg0,msg1,msg2,msg3,msg4,msg5,msg6];\n\n//==================\n/*device1={type:\"ADC1\",\nip:\"0.0.0.0\",\nname:\"new module\",\nch0:0,\nch1:0,\nch2:0,\nch3:0,\nch4:0,\nch5:0,\nout1:0,\nout2:0,\nout3:0\n};\n*/\n//========================\n","outputs":7,"noerr":0,"x":690,"y":820,"wires":[["4f104753.0765e8"],["4a853198.0865d"],["829edd87.fe5e2"],["7a7d47d.f2cbab8"],["15202f21.1da851"],["60962ce4.c327c4"],["11b00cc7.15a233"]]},{"id":"fe145bf7.044b78","type":"inject","z":"147c8bcf.e4ce34","name":"clear display","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":590,"y":280,"wires":[["f1865e29.034a3"]]},{"id":"dce7e4d1.10c198","type":"change","z":"147c8bcf.e4ce34","name":"Clear looking for adc display","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":540,"wires":[["f1865e29.034a3"]]},{"id":"ed84739f.02377","type":"inject","z":"147c8bcf.e4ce34","name":"clear display","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":850,"y":720,"wires":[["7f94083e.280878"]]},{"id":"e665f9ae.2686d8","type":"change","z":"147c8bcf.e4ce34","name":"Clear previous ip display","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":380,"wires":[["7f94083e.280878"]]},{"id":"94c6653e.bb0f18","type":"change","z":"147c8bcf.e4ce34","name":"Clear previous  display","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":980,"wires":[["4f104753.0765e8","4a853198.0865d","829edd87.fe5e2","7a7d47d.f2cbab8","15202f21.1da851","60962ce4.c327c4"]]},{"id":"fa02b8fe.ef24b8","type":"comment","z":"147c8bcf.e4ce34","name":"tbd","info":"tbd channel 5\n","x":590,"y":1060,"wires":[]},{"id":"fa1aaf74.8875c","type":"function","z":"147c8bcf.e4ce34","name":"Format enable/disable messages","func":"var configMsg= flow.get('configMsg') || {};\nvar device1= flow.get('device1') || {};\nconfigMsg.type=device1.type;\nconfigMsg.name = device1.name;\nconfigMsg.category = 'setting';\nif(msg.topic == \"ch0\"){\n    configMsg.ench0 =msg.payload;\n}\nif(msg.topic == \"ch1\"){\n    configMsg.ench1 =msg.payload;\n}\nif(msg.topic == \"ch2\"){\n    configMsg.ench2 =msg.payload;\n}\nif(msg.topic == \"ch3\"){\n    configMsg.ench3 =msg.payload;\n}\nif(msg.topic == \"ch4\"){\n    configMsg.ench4 =msg.payload;\n}\nif(msg.topic == \"ch5\"){\n    configMsg.ench5 =msg.payload;\n}\nif(msg.topic === \"delay\"){\n    configMsg.delay =msg.payload;\n}\nif(msg.topic === \"ota\"){\n    configMsg.ota =1234;\n}\nif(msg.topic === \"dac\"){\n    configMsg.dac =msg.payload;\n}\nif(msg.topic === \"led2\"){\n    configMsg.led2 =msg.payload;\n}\nif(msg.topic === \"io7\"){\n    configMsg.io7 =msg.payload;\n}\nif(msg.topic === \"io18\"){\n    configMsg.io18 =msg.payload;\n}\nif(msg.topic === \"io19\"){\n    configMsg.io19 =msg.payload;\n}\nif(msg.topic == \"init\"){\n configMsg.name = \"noName\";\n configMsg.ench0 = 100;\n configMsg.ench1 = 100;\n configMsg.ench2 = 100;\n configMsg.ench3 = 100;\n configMsg.ench4 = 100;\n configMsg.ench5 = 99;\n configMsg.delay = 100;\n configMsg.ota = 10;\n configMsg.dac = 0;\n configMsg.led2 = 0;\n configMsg.io7 = 0;\n configMsg.io18 = 0;\n configMsg.io19 = 0;\n}\n\nflow.set('configMsg', configMsg);\n//if( msg.topic== \"send\")\n//{\n     msg.payload = configMsg;\n    return msg;\n//}\n   \n\n","outputs":1,"noerr":0,"x":1980,"y":900,"wires":[["981106f2.136468","70e265ef.4e458c"]]},{"id":"814087ea.6c3d48","type":"comment","z":"147c8bcf.e4ce34","name":"device object definition","info":"device object is defined here\nall elevant charasteristics are in the object.\nThe object is encoded in json for transmission.","x":440,"y":480,"wires":[]},{"id":"aa1e5a97.e6e448","type":"function","z":"147c8bcf.e4ce34","name":"Add destination ip","func":"var device1= flow.get('device1') || {};\n//msg.payload = device1;\nmsg.ip = device1.ip;\n\nreturn msg;","outputs":1,"noerr":0,"x":1970,"y":1000,"wires":[["53c902f1.dbcb0c","6519bef.1ad394"]]},{"id":"53c902f1.dbcb0c","type":"debug","z":"147c8bcf.e4ce34","name":"UDP send","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":2260,"y":960,"wires":[]},{"id":"af7b63e1.95d2c","type":"function","z":"147c8bcf.e4ce34","name":"RESET","func":"var device1= flow.get('device1') || {};\ndevice1={type:\"ADC1\",\nip:\"0.0.0.0\",\nname:\"new module\",\nch0:0,\nch1:0,\nch2:0,\nch3:0,\nch4:0,\nch5:0,\nout1:0,\nout2:0,\nout3:0,\nlink:\"down\"\n};\nflow.set('device1', device1);\nmsg.payload =\"\";\nreturn msg;\n/*\nmessageOutput=flow.get('messageOutput');\nvar msgtype1hex =flow.get('msgtype1hex')|| \"1\";      // index 1\nvar netname3hex =flow.get('netname3hex') || \"001\";        //index 2\nvar group3hex   =flow.get('group3hex') || \"001\";        // index 5\nvar uvintensity3hex =flow.get('uvintensity3hex') || \"064\" ;     //index 8\nvar intensity27003hex =flow.get('intensity27003hex') || \"000\" ;     // index 11\nvar intensity65003hex=flow.get('intensity65003hex')  || \"000\" ;   // index 14  last } index 17\nvar warmCool = flow.get('warmCool') || -100;\nvar intensity27 = flow.get('intensity27') || 50;\nvar intensity65 = flow.get('intensity65') || 0;\nvar savedIntensity = flow.get('savedIntensity') || 0;\n\nif (msg.topic == \"intensity\"){\n    savedIntensity = msg.payload;\n    flow.set('savedIntensity',savedIntensity);\n}\nif (flow.get(\"enable_ir_osp\") == null) flow.set(\"enable_ir_osp\", true);\nvar local=context.get('data') || {};\nif (local.count===undefined)//test exists\n{\n  local.count=0;\n}\nlocal.count +=1;\nmsg.payload=\"F2 \"+msg.payload+\" \"+local.count;\ncontext.set('data',local);\nreturn msg;\n\n\n*/","outputs":1,"noerr":0,"x":380,"y":580,"wires":[["7f94083e.280878","f1865e29.034a3"]]},{"id":"fb12b8b0.f7b388","type":"json","z":"147c8bcf.e4ce34","name":"","property":"payload","action":"str","pretty":false,"x":750,"y":500,"wires":[["88e05eaa.df53"]]},{"id":"981106f2.136468","type":"json","z":"147c8bcf.e4ce34","name":"","property":"payload","action":"str","pretty":false,"x":2290,"y":840,"wires":[["aa1e5a97.e6e448"]]},{"id":"ef78c6d9.907218","type":"comment","z":"147c8bcf.e4ce34","name":"Init adc enable","info":"Init variable configMsg 1 sec after power up\nIf link is up send msg to ADC over UDP\nif not first toggle of ADC channel enable send \nthe info","x":1500,"y":1360,"wires":[]},{"id":"135951ef.79080e","type":"delay","z":"147c8bcf.e4ce34","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":500,"y":360,"wires":[["2e4afa96.7a02c6"]]},{"id":"c4bfa5c0.d820d8","type":"comment","z":"147c8bcf.e4ce34","name":"How to delete properties in objects","info":"let obj = global.get(\"Battery\");\ndelete obj.DesiredChargeRate;\nglobal.set(\"Battery\", obj);","x":680,"y":1120,"wires":[]},{"id":"8867d0bf.7a36d","type":"comment","z":"147c8bcf.e4ce34","name":"Revision history","info":" 6 Feb 2022 revision 1\n 9 March rev 2\n 16 March 2022 rev3","x":220,"y":1000,"wires":[]},{"id":"61f5da5a.f91cf4","type":"inject","z":"147c8bcf.e4ce34","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":640,"wires":[["eb48deef.ba605"]]},{"id":"77ce34e7.5079dc","type":"inject","z":"147c8bcf.e4ce34","name":"ADC  Init all","topic":"init","payload":"100","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"3","x":1630,"y":720,"wires":[["fa1aaf74.8875c"]]},{"id":"a76b6c15.b581","type":"delay","z":"147c8bcf.e4ce34","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1820,"y":660,"wires":[["f9c8e5c0.8dbc28"]]},{"id":"f9c8e5c0.8dbc28","type":"function","z":"147c8bcf.e4ce34","name":"Reset ota","func":"var configMsg= flow.get('configMsg') || {};\nconfigMsg.ota = 10;\nflow.set('configMsg', configMsg);\n","outputs":1,"noerr":0,"x":1980,"y":660,"wires":[[]]},{"id":"850b9382.e9ca5","type":"ip","z":"147c8bcf.e4ce34","name":"get local ip","https":false,"timeout":"5000","internalIPv4":true,"internalIPv6":false,"publicIPv4":false,"publicIPv6":false,"x":390,"y":440,"wires":[["135951ef.79080e"]]},{"id":"6d1c1a2d.583864","type":"ui_form","z":"147c8bcf.e4ce34","name":"Add new device","label":"","group":"9b95032a.6ccc","order":2,"width":0,"height":0,"options":[{"label":"Name","value":"name","type":"text","required":false,"rows":null},{"label":"Type","value":"type","type":"text","required":false,"rows":null}],"formValue":{"name":"","type":""},"payload":"","submit":"FIND DEVICE","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":140,"y":440,"wires":[["850b9382.e9ca5","eb48deef.ba605","94c6653e.bb0f18"]]},{"id":"f1865e29.034a3","type":"ui_text","z":"147c8bcf.e4ce34","group":"9b95032a.6ccc","order":3,"width":0,"height":0,"name":"Display device add info looking for","label":"","format":"{{msg.payload}}","layout":"row-spread","x":960,"y":280,"wires":[]},{"id":"ef928f0e.d46cd","type":"ui_text","z":"147c8bcf.e4ce34","group":"9b95032a.6ccc","order":1,"width":"5","height":"3","name":"Form help text","label":"","format":"Press find to find a default ADC1 or to add a device, choose a name and set the type to ADC1. The master will search the local network to find the device.","layout":"row-left","x":140,"y":380,"wires":[]},{"id":"7f94083e.280878","type":"ui_text","z":"147c8bcf.e4ce34","group":"9b95032a.6ccc","order":4,"width":"6","height":"1","name":"found","label":"","format":"{{msg.payload}}","layout":"col-center","x":1190,"y":660,"wires":[]},{"id":"4f104753.0765e8","type":"ui_text","z":"147c8bcf.e4ce34","group":"efeecb1b.7dc908","order":2,"width":"4","height":"1","name":"Dispaly adc ch0","label":"ADC ch0 mV","format":"{{msg.payload}}","layout":"row-left","x":1120,"y":780,"wires":[]},{"id":"4a853198.0865d","type":"ui_text","z":"147c8bcf.e4ce34","group":"efeecb1b.7dc908","order":3,"width":"4","height":"1","name":"Dispaly adc ch1","label":"ADC ch1 mV","format":"{{msg.payload}}","layout":"row-left","x":1120,"y":820,"wires":[]},{"id":"11b00cc7.15a233","type":"ui_text","z":"147c8bcf.e4ce34","group":"efeecb1b.7dc908","order":1,"width":"4","height":"2","name":"Dispaly name","label":"","format":"{{msg.payload}}","layout":"row-left","x":1120,"y":740,"wires":[]},{"id":"3b10907c.f7741","type":"ui_text","z":"147c8bcf.e4ce34","group":"6f859531.10d18c","order":1,"width":0,"height":0,"name":"","label":"Enable ADC Channels 0 to 5","format":"{{msg.payload}}","layout":"col-center","x":1700,"y":600,"wires":[]},{"id":"829edd87.fe5e2","type":"ui_text","z":"147c8bcf.e4ce34","group":"efeecb1b.7dc908","order":4,"width":"4","height":"1","name":"Dispaly adc ch2","label":"ADC ch2 mV","format":"{{msg.payload}}","layout":"row-left","x":1120,"y":860,"wires":[]},{"id":"7a7d47d.f2cbab8","type":"ui_text","z":"147c8bcf.e4ce34","group":"efeecb1b.7dc908","order":5,"width":"4","height":"1","name":"Dispaly adc ch3","label":"ADC ch3 mV","format":"{{msg.payload}}","layout":"row-left","x":1120,"y":900,"wires":[]},{"id":"15202f21.1da851","type":"ui_text","z":"147c8bcf.e4ce34","group":"efeecb1b.7dc908","order":6,"width":"4","height":"1","name":"Dispaly adc ch4","label":"ADC ch4 mV","format":"{{msg.payload}}","layout":"row-left","x":1120,"y":940,"wires":[]},{"id":"60962ce4.c327c4","type":"ui_text","z":"147c8bcf.e4ce34","group":"efeecb1b.7dc908","order":7,"width":"4","height":"1","name":"Dispaly adc ch5","label":"ADC ch5 (mV)","format":"{{msg.payload}}","layout":"row-left","x":1120,"y":980,"wires":[]},{"id":"37a89617.97ef0a","type":"ui_text","z":"147c8bcf.e4ce34","group":"6f859531.10d18c","order":11,"width":0,"height":0,"name":"","label":"Channel Attenuation fixed at 11db","format":"{{msg.payload}}","layout":"col-center","x":1720,"y":560,"wires":[]},{"id":"c9058e41.66db5","type":"ui_toast","z":"147c8bcf.e4ce34","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1010,"y":320,"wires":[]},{"id":"1bd674a0.63350b","type":"ui_template","z":"147c8bcf.e4ce34","group":"fd60d28a.fce8b","name":"Documentation","order":0,"width":"6","height":"10","format":"<div> <h2>Step 1 </h2>\n<p>Power up the Raspberry PI 6 Cnannel ESP32 ADC and configure as a client on the local network.</p>\n<p> <h2>Step 2  </h2>\n<p>In the ADD DEVICE tab, give your device a unique name and a type = ADC1 (This is the only supported type for now)<br>\nThen press the \"Find Device\"  button. The \"get local ip\" node will use the local ip to<br>\nbroadcast a UDP message with type = ADC1 in it. When the ESP32 ADC receives the message,<br>\nit extracts the ip and uses it to send back the conversion. When this message is received, the ADC is found\nby the Raspberry Pi.</p><br>\n<p>The device data is stored in the \"device1\" flow object. The device configuration is stored in the configMsg flow object.</p>\n<p>The values are displayed in the HOME tab.</p><br>\n<p>In the SETTINGS tab, each button send a message to enable or disable a channel.</p><br>\n<p>The \"mSec between conversions\" sets the delay between burst of conversions (0 to max 4,294,967,295).</p><br>\n<p>Fewer enabled channels =  faster conversions.</p><br>\n<p>The ESP32 send conversion results every \"INTERVAL_4\" which is set to 3000mSec in the ESP32 code.</p><br>\n<p>Raspberry Pi UDP send port= 5044, ESP32 device receive port= 5044.</p><br>\n<p>Raspberry Pi UDP receive port= 5045, ESP32 device send port= 5045.</p><br>\n<p>At reset all channels are ebabled.</p><br>\n<p>Channel 5  is ADC2 channel0. This channel may not be active while\nthe ESP32 Wi-Fi is active.</p><br>\n\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":240,"y":1140,"wires":[[]]},{"id":"c10e9ec.8389f6","type":"ui_button","z":"147c8bcf.e4ce34","name":"","group":"9b95032a.6ccc","order":5,"width":"3","height":"2","passthru":false,"label":"RESET","tooltip":"","color":"","bgcolor":"","icon":"","payload":"RESET","payloadType":"str","topic":"topic","topicType":"msg","x":160,"y":560,"wires":[["af7b63e1.95d2c"]]},{"id":"cdaf9cca.f1899","type":"ui_button","z":"147c8bcf.e4ce34","name":"","group":"7141e1a989b5bb01","order":5,"width":"3","height":"2","passthru":false,"label":"SAVE to SD card","tooltip":"","color":"","bgcolor":"","icon":"","payload":"save","payloadType":"str","topic":"topic","topicType":"msg","x":470,"y":1260,"wires":[[]]},{"id":"bee047b4.57b498","type":"ui_button","z":"147c8bcf.e4ce34","name":"ota","group":"60e1340d.e6640c","order":5,"width":"5","height":"3","passthru":true,"label":"START OTA FIRMWARE UPDATE","tooltip":"Start OTA Firmware update","color":"Red","bgcolor":"","icon":"get_app","payload":"1234","payloadType":"num","topic":"ota","topicType":"str","x":1650,"y":660,"wires":[["fa1aaf74.8875c","a76b6c15.b581"]]},{"id":"23b25b90.dd8234","type":"ui_switch","z":"147c8bcf.e4ce34","name":"","label":"Ch 0","tooltip":"","group":"6f859531.10d18c","order":2,"width":"3","height":"1","passthru":true,"decouple":"false","topic":"ch0","topicType":"str","style":"","onvalue":"100","onvalueType":"num","onicon":"","oncolor":"","offvalue":"99","offvalueType":"num","officon":"","offcolor":"","animate":false,"x":1630,"y":760,"wires":[["fa1aaf74.8875c"]]},{"id":"8c91e2aa.b6484","type":"ui_switch","z":"147c8bcf.e4ce34","name":"","label":"Ch 1","tooltip":"","group":"6f859531.10d18c","order":3,"width":"3","height":"1","passthru":true,"decouple":"false","topic":"ch1","topicType":"str","style":"","onvalue":"100","onvalueType":"num","onicon":"","oncolor":"","offvalue":"99","offvalueType":"num","officon":"","offcolor":"","animate":false,"x":1630,"y":820,"wires":[["fa1aaf74.8875c"]]},{"id":"7e4287a3.448fc8","type":"ui_switch","z":"147c8bcf.e4ce34","name":"","label":"Ch 4","tooltip":"","group":"6f859531.10d18c","order":6,"width":"3","height":"1","passthru":true,"decouple":"false","topic":"ch4","topicType":"str","style":"","onvalue":"100","onvalueType":"num","onicon":"","oncolor":"","offvalue":"99","offvalueType":"num","officon":"","offcolor":"","animate":false,"x":1630,"y":1000,"wires":[["fa1aaf74.8875c"]]},{"id":"7b4b5713.b54b78","type":"ui_switch","z":"147c8bcf.e4ce34","name":"","label":"Ch 3","tooltip":"","group":"6f859531.10d18c","order":5,"width":"3","height":"1","passthru":true,"decouple":"false","topic":"ch3","topicType":"str","style":"","onvalue":"100","onvalueType":"num","onicon":"","oncolor":"","offvalue":"99","offvalueType":"num","officon":"","offcolor":"","animate":false,"x":1630,"y":940,"wires":[["fa1aaf74.8875c"]]},{"id":"bb442cf4.e1a25","type":"ui_switch","z":"147c8bcf.e4ce34","name":"","label":"Ch 2","tooltip":"","group":"6f859531.10d18c","order":4,"width":"3","height":"1","passthru":true,"decouple":"false","topic":"ch2","topicType":"str","style":"","onvalue":"100","onvalueType":"num","onicon":"","oncolor":"","offvalue":"99","offvalueType":"num","officon":"","offcolor":"","animate":false,"x":1630,"y":880,"wires":[["fa1aaf74.8875c"]]},{"id":"13250b53.76d795","type":"ui_switch","z":"147c8bcf.e4ce34","name":"","label":"Ch 5","tooltip":"","group":"6f859531.10d18c","order":7,"width":"3","height":"1","passthru":true,"decouple":"false","topic":"ch5","topicType":"str","style":"","onvalue":"100","onvalueType":"num","onicon":"","oncolor":"","offvalue":"99","offvalueType":"num","officon":"","offcolor":"","animate":false,"x":1630,"y":1060,"wires":[["fa1aaf74.8875c"]]},{"id":"ac51be3a.42756","type":"ui_switch","z":"147c8bcf.e4ce34","name":"","label":"LED2","tooltip":"","group":"6f859531.10d18c","order":10,"width":"3","height":"1","passthru":true,"decouple":"false","topic":"led2","topicType":"str","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","animate":false,"x":1630,"y":1240,"wires":[["fa1aaf74.8875c"]]},{"id":"800756ca.f1ed78","type":"ui_switch","z":"147c8bcf.e4ce34","name":"","label":"IO_7","tooltip":"","group":"6f859531.10d18c","order":10,"width":"3","height":"1","passthru":true,"decouple":"false","topic":"io7","topicType":"str","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","animate":false,"x":1650,"y":1300,"wires":[["fa1aaf74.8875c"]]},{"id":"df32f3e6.e8e74","type":"ui_switch","z":"147c8bcf.e4ce34","name":"","label":"IO_18","tooltip":"","group":"6f859531.10d18c","order":10,"width":"3","height":"1","passthru":true,"decouple":"false","topic":"io18","topicType":"str","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","animate":false,"x":1670,"y":1360,"wires":[["fa1aaf74.8875c"]]},{"id":"acf4c3e7.d59e","type":"ui_switch","z":"147c8bcf.e4ce34","name":"","label":"IO_19","tooltip":"","group":"6f859531.10d18c","order":10,"width":"3","height":"1","passthru":true,"decouple":"false","topic":"io19","topicType":"str","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","animate":false,"x":1670,"y":1420,"wires":[["fa1aaf74.8875c"]]},{"id":"496e6030.521ec","type":"ui_slider","z":"147c8bcf.e4ce34","name":"DAC setting","label":"DAC setting","tooltip":"","group":"6f859531.10d18c","order":9,"width":0,"height":0,"passthru":true,"outs":"end","topic":"dac","topicType":"str","min":0,"max":"255","step":1,"x":1610,"y":1180,"wires":[["fa1aaf74.8875c"]]},{"id":"d3b78549.e94648","type":"ui_text_input","z":"147c8bcf.e4ce34","name":"mSec delay between Conversions","label":"mSec Between Conversions","tooltip":"ESP32 samples all enabled channels  then repeats 16 times before calculating the average. Then it waits the mSec before repeating.","group":"6f859531.10d18c","order":8,"width":"6","height":"2","passthru":true,"mode":"number","delay":"0","topic":"delay","topicType":"str","x":1540,"y":1120,"wires":[["fa1aaf74.8875c"]]},{"id":"9b95032a.6ccc","type":"ui_group","z":"","name":"Add Device","tab":"4494cafb.c1a0d4","order":1,"disp":true,"width":"6","collapse":false},{"id":"efeecb1b.7dc908","type":"ui_group","z":"","name":"Home","tab":"502712d5.a5233c","order":1,"disp":true,"width":"6","collapse":false},{"id":"6f859531.10d18c","type":"ui_group","z":"","name":"Settings","tab":"af5d9e00.7de7a","order":1,"disp":true,"width":"6","collapse":false},{"id":"fd60d28a.fce8b","type":"ui_group","z":"","name":"Documentation","tab":"e5d97554.5e1008","order":1,"disp":true,"width":"6","collapse":false},{"id":"60e1340d.e6640c","type":"ui_group","z":"","name":"OTA","tab":"c7c84eaf.2e035","order":1,"disp":true,"width":"6","collapse":false},{"id":"4494cafb.c1a0d4","type":"ui_tab","z":"","name":"Add Device","icon":"dashboard","disabled":false,"hidden":false},{"id":"502712d5.a5233c","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"af5d9e00.7de7a","type":"ui_tab","z":"","name":"Settings","icon":"dashboard","disabled":false,"hidden":false},{"id":"e5d97554.5e1008","type":"ui_tab","z":"","name":"Documentation","icon":"dashboard","disabled":false,"hidden":false},{"id":"c7c84eaf.2e035","type":"ui_tab","z":"","name":"OTA","icon":"dashboard","disabled":false,"hidden":false}]